<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2/0/css/
    bootstrap.min.css" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2/0/js/
    bootstrap.min.js"></script>
</head>
<body>
{{testvar}}
<style type="text/css">
    .centerdiv
    {
    width:45%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    text-align:center;
    }
    .login
    {
    width:45%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    }
    .blog
    {
    width:45%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    text-align:center;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav">
        {% if user != None %}
             <a class="navbar-brand" href="#">{{user.username}}</a>
             <li><a href="#" data-toggle="modal" data-target="addblog">Add Blog!</a></li>
        {% endif %}
        <li><a href="#" data-toggle="modal" data-target="#login">Login!</a></li></ul></nav>


<div class="page-header centerdiv">
<h1>Blog Articles!</h1></div>
<div class="blog well">
     {% for blog in blogs %}
        <div>
            <div class="page-header">
                <h3>{{blog.title}}</h3>
                <small>{{blog.author}}</small>
            </div>
            {{blog.blog_content}}
        </div>
    {% endfor %}
    <div class="modal fade" id="addblog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/addblog/" method="POST">
                    {% csrf_token %}
                    <div class="modal-body login">
                        <b>Title:</b>
                        <input class="form-control" name="title"/>
                        <b>Blog content</b>
                        <input class="form-control" name="blog_content"
                    </div>
                    <div class="modal-footer"></div>
                    <input type="submit" class="btn btn-sucess pull-left" value="login">
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>



</div>
</body>
</html>




<!--in shellprompt-->
<!--from blogging.models import BlogArticle-->
<!--BlogArticle.objects.all()-->
<!--obj=BlogArticle()-->
<!--obj.title="Test Blog"-->
<!--obj.blog_content="Test Content"-->
<!--from django.contrib.auth.models import User-->
<!--users=User.objects.all()-->
<!--obj.author=users[0]-->
<!--obj.save()-->

