<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{background-color:lightgreen;}
        h1{color:red;}
        p{color:blue;
          border: 1px solid red;
          margin: 20px;
          }
        abbr{color:green}
        #p01{color:orange;}
        strong.error{color:red;}
         table,td,tr{border: 1px solid white;
                    border-collapse: collapse;
                    pading: 20
                    }
        table#a201 tr:nth-child(even) {
        background-color: red;}
        table#a201 tr:nth-child(odd) {
        background-color: blue;}
            th, td {
  padding: 15px;
  text-align: left;}
  .cities{background-color: green;
           margin: 20px;
           pading: 20px;
           color: yellow;}
   span.aaa{color:red;}
   span.imp{color: #231251;
   font-size: 120%;
   font-family: verdan;}
   span.note{color: #aaaaaa;}
   .citi{background-color: Tomato;
            text-align: center;
            pading: 20px;
            margin: 20px;}

    </style>
</head>
<body>
<H1>THESE ALL ARE HTML STYLE ATTRIBUTE PROPERTIES.</H1>
<h1 style="color:blue;">This is heading1</h1>
<h2 style="background-color:red;">This is heading2</h2>
<h3 style="color:green;">This is heading3</h3>
<h4 id="p01">this is heading4</h4>
<h5>this is heading5</h5>
<h6>this is heading6</h6>
<p>Paragraaph element is used to write the paragraph</p><br>
<pre> pre element is showed what ever         u write between
             the pre tag it will            shown the details same in           the web page.
    i.e it doen not delete white spaces and lines.</pre>
<h1> THESE ARE ALL HTML FORMATING ELEMENTS.</h1>
<strong class="error">this is strong element</strong><br>
<strong class="error">this one more strong element</strong><br>
<em class="pass">this is emphasis element</em><br>
<del class="pass">it will showed delete element</del><br>
<ins class="error">it will showed insert element</ins><br>
the text is <sub>sub </sub> text.<br>
the text is <sup>super</sup>text.<br>
this is a <mark>marked</mark>text<br>
this is a <q>quoted</q>text.<br>
<a href="https://www.facebook.com" style="text-decoration:none" target="_blank">facebook</a><br>
<img src="F:\python/python2.jpg" alt="python" height="50px" width="100px"><br>
<img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
<h1>HTML QUOTATIONS</h1>
<p>this text is in <q>quotation marks</q></p>

<p>This is a quotation from the other source.</p>
<blockquote cite="www.google.com">For 50 years, WWF has been protecting the future of nature.
The world's leading conservation organization,
WWF works in 100 countries and is supported by
1.2 million members in the United States and
close to 5 million globally.
</blockquote>

<p>this is a adddress tag.</p>
<address>
    Hno:28,flat no:302,<br>
    4th cross road,<br>
    Munnekolala,<br>
    Bangalore-560037
</address>

<p>this is abbrivation element.</p>
<p>the<abbr title="World Health organization">WHO</abbr>is held in 1991. </p>

<p>cite tag defines the title of the work.</p>
<cite>Anil & Harika</cite> is wonderful couple.

<p>this bdo tag dfines bio-directional override.</p>
<bdo dir="rtl">this line will be right to left</bdo><br>
<bdo dir="ltr">akirah</bdo>
<table style="width:100%">
        <caption>This IS Employyee Details</caption>
        <tr>
            <th>Name</th>
            <th>ID NO</th>
            <th>DOB</th>
        </tr>
        <tr>
            <td>Deepak</td>
            <td>15783</td>
            <td>01102017</td>

        </tr>
        <tr>
            <td>Ram</td>
            <td>125874</td>
            <td>124545</td>
        </tr>
        <tr>
            <td>charn</td>
            <td>35654</td>
            <td>556784</td>
        </tr>
    </table>
    <table id="a201">
        <tr>
            <th>Name</th>
            <th>ID NO</th>
            <th>DOB</th>
        </tr>
        <tr>
            <td>Deepak</td>
            <td>15783</td>
            <td>01102017</td>

        </tr>
        <tr>
            <td>Ram</td>
            <td>125874</td>
            <td>124545</td>
        </tr>
        <tr>
            <td>charn</td>
            <td>35654</td>
            <td>556784</td>
        </tr>
           </table>
    <h1>LISTS DETAILS</h1>
        <h3>UN ORDERED LIST</h3>
    <ul style="list-style-type: square;">
        <li>Tea</li>
        <li>Green Tea</li>
        <li>Coffee</li>
        <li>Black Tea</li>
    </ul>
<h3>ORDERED LIST</h3>
    <ol type="1" start="50">
        <li>Dosa</li>
        <li>idli</li>
        <li>pongal</li>
        <li>Chapati</li>
    </ol>
<h3>DEFINITION LIST</h3>
<dl>
    <dt>Deepak: </dt>
        <dd>Deepak is a good boy</dd>
    <dt>Anil:</dt>
    <dd>Anil is a good dad</dd>

</dl>
<div class="cities">
    <h2>
        London
    </h2>
    <h3><span class="aaa">London</span> is a capital of <span class="aaa">England</span></h3>
</div>
<div class="cities">
    <h2>
        Paris
    </h2>
    <h3><span class="imp">Paris</span> is a capital of<span class="imp"> France</span></h3>
</div>
<div class="citi">
    <h2>
        Tokyo
    </h2>
    <h3><span class="note">Tokyo</span> is a capital of <span class="note">Japan</span></h3>
</div>
<h2>This is java script</h2>
<button onclick="myFunction()">HIDE ELEMENTS</button>
<h2 class="city">London</h2>
<h2 class="city">London</h2>
<h2 class="city">London</h2>

<script>
function myFunction() {
  var x=document.getElementsByClassName("city");
  for(var i=0; i<x.length; i++){
    x[i].style.display="none";
  }
}
</script>
<h1>Forms</h1>
<form action="/action_page.php" target="_blank" method="post">
    <fieldset>
     <legend> Personal Information</legend>
    Enter the name:
    <input type="text" name="first name"><br>
    Enter the age:
    <input type="text" name="age"><br>
    select gender:<input type="radio" name="gender" value="male" checked>Male<input type="radio" name="gender" value="female">Female<input type="radio" name="gender" value="other">Other<br>
    Qualification:<select name="qual"><option value="SSC">SSC</option>
                            <option value="inter">Inter</option>
                            <option value="degree">Degree</option>
                            <option value="pg" selected>pg</option>
                        </select>
        Address:<textarea rows="5" cols="15"></textarea><br>
     Languages Known:<input type="checkbox" name="aa" value="telugu">Telugu
        <input type="checkbox" name="fg" value="hi">Hindi
        <input type="checkbox" name="dg" value="en">English
        <p id="demo">JavaScript can change the style of an HTML element.</p>
<script>
function myFunction() {
  document.getElementById("demo").style.fontSize = "25px";
  document.getElementById("demo").style.color = "red";
  document.getElementById("demo").style.backgroundColor = "yellow";
}
</script>
<button type="button" onclick="myFunction()">Click Me!</button><br>




        <input type="submit" value="submit"><input type="reset"></fieldset>

</form>
<h1>HTML5 Form Elements</h1>
<form>
    <fieldset><legend>HTML5 Tags</legend>
    Pic the color:<input type="color" name="clor"><br>
    DOB :<input type="date" name="dt"><br>
    Email:<input type="email" name="mail"><br>
    select file:<input type="file" name="myfile"><br>
    working days:<input type="number" name="num" min="1" max="5"><br>
    search:<input type="search" name="google search"><br>
    ph no:<input type="tel" name="telp"><br>
    time:<input type="time" name="time"><br>
    url<input type="url" name="url">
    week:<input type="week" name="week">












    </fieldset>
</form>

</body>
</html>